---
import { t, changeLanguage } from "i18next";
import { PianistSlider2 } from "@static/images";
import Layout from "../../layouts/Layout.astro";
import { Biography as BiographyModule } from "@modules/Biography";
import { Pianist } from "@modules/Hero";
import { Footer } from "@modules/Footer";

changeLanguage("fr");
---

<!-- todo: add meta description for SEO -->

<Layout
    title={t("biography.site.title")}
    description={t("biography.site.description")}
>
    <main class="page-content">
        <Pianist
            pianistType="ParallaxImage"
            client:load
            data={{
                image: PianistSlider2.src,
                content: {
                    title: t("biography.page-content.title"),
                    paragraph: t("biography.page-content.paragraph"),
                },
            }}
        />

        <BiographyModule client:load />
    </main>
    
    <Footer />
</Layout>
