---
import { t, changeLanguage } from "i18next";
import { PianistSlider1 } from "@static/images";
import Layout from "../../layouts/Layout.astro";
import { Calendar as CalendarModule } from "@modules/Calendar";
import { Pianist } from "@modules/Hero";
import { Footer } from "@modules/Footer";

changeLanguage("fr");
---

<!-- todo: add meta description for SEO -->

<Layout
    title={t("calendar.site.title")}
    description={t("calendar.site.description")}
>
    <main class="page-content">
        <Pianist
            pianistType="ParallaxImage"
            client:load
            data={{
                image: PianistSlider1.src,
                content: {
                    title: t("calendar.page-content.title"),
                    paragraph:
                        t("calendar.page-content.paragraph"),
                        // "What's next? Click on the event box!",
                },
            }}
        />

        <CalendarModule client:load />
    </main>

    <!-- the footer of calendar.astro's page: -->
    <Footer />
</Layout>
