---
import { PianistSlider1, PianistSlider2 } from "@static/images";
import Layout from "../../layouts/Layout.astro";
import { Pianist } from "@modules/Hero";
import i18next, { t, changeLanguage } from "i18next"; // Import i18next for translations

changeLanguage("fr");
---

<!-- the highest level of the page, the landing page which is also the homepage in this website. -->

<Layout
    title={t("site.title")}
    description={t("site.description")}
>
    <main class="page-content">
        <Pianist
            client:load
            pianistType="fullPageSlider"
            data={[
                {
                    subtitle: t("pianist.subtitle"),
                    title: "Wei-Ting HSIEH",
                    background: PianistSlider1.src,
                    // paragraph:
                    //     "",
                    button: {
                        text: "Wei-Ting",
                        link: "/biography",
                    },
                },
                {
                    subtitle: t("pianist.subtitle"),
                    title: "Wei-Ting HSIEH",
                    background: PianistSlider2.src,
                    paragraph: t("pianist.paragraph"),
                    button: {
                        text: t("buttons.listen"),
                        link: "/music",
                    },
                },
            ]}
        />
    </main>
</Layout>
