---
import Layout from "../../layouts/Layout.astro";
import { Pianist } from "@modules/Hero";
// import { PianistSlider3, MusicPageImg1, MusicPageImg2 } from "@static/images";
import { PianistSlider3 } from "@static/images";
import { MusicCards } from "@modules/MusicCards";
import { PianistVideoSlider } from "@modules/Hero/variants/PianistVideoSlider/PianistVideoSlider";
import { Footer } from "@modules/Footer";
import { Trans } from "astro-i18next/components"; // Import Trans component
import i18next, { t, changeLanguage } from "i18next"; // Import i18next for translations

changeLanguage("fr");
---

<Layout
    title={t("music.site.title")}
    description={t("music.site.description")}
>
    <main class="page-content">
        <Pianist
            pianistType="ParallaxImage"
            client:visible
            data={{
                image: PianistSlider3.src,
                content: {
                    title: t("music.page-content.title"),
                    paragraph:
                        t("music.page-content.paragraph"),
                },
            }}
        />
        <MusicCards
            description={t("music.music-card.description")}
            title={t("music.music-card.title")}
            client:visible
            cards={[
                                {
                    title: "Fantasiestücke, Robert Schumann",
                    description:
                        `
                        <iframe style="border-radius:12px" 
                            src="https://open.spotify.com/embed/artist/05P8KWbEcJD8NWTUbAfjpn?utm_source=generator&theme=0" 
                            width="100%"
                            height="352" 
                            frameborder="0" 
                            allowfullscreen="" 
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                            loading="lazy">
                        </iframe>
                        `,
                },
            ]}
        />
        
        <PianistVideoSlider
            title={t("music.pianovideoslider.title")}
            client:visible
            videoTitles={
                [
                "Wei-Ting HSIEH, J.Ph. Rameau: Le Rappel des Oiseaux",
                "Wei-Ting HSIEH, " + t("music.pianovideoslider.videoTitles.second-round") + ", 18th Chopin Competition",
                "Wei-Ting HSIEH, " + t("music.pianovideoslider.videoTitles.first-round") + ", 18th Chopin Competition"
                ]
            }
            videos={[
                "https://www.youtube.com/embed/I2pEK4Fznw4?si=HYTDUXpJYvseBja5",
                "https://www.youtube.com/embed/orwTW279nEs?si=xwekzfO9vIfNG0Tf",
                "https://www.youtube.com/embed/mm9pfniDt_E?si=-gWNbKLGfUUPvpLJ"
            ]}
        />

        <!-- todo: might put images music-page-1.webp and music-page-2.webp (see static/images' index.tsx) in the music page later -->
    </main>
    <Footer />
</Layout>
