---
import { t, changeLanguage } from "i18next";
import { ContentSection } from "@modules/ContentSection";
import Layout from "../layouts/Layout.astro";
import { FadeIn } from "@utils/animations/FadeIn";
import { Button } from "@components/Button";

changeLanguage("en");
---

<Layout
    title={t("errorpage.title")}
    description={t("errorpage.paragraph")}
>
    <main class="page-content page-404">
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
                textAlign: "center",
                display: "flex",
                flexDirection: "column",
                justifyContent: "center",
                alignItems: "center",
                height: "100%",
            }}
        >
            <FadeIn client:visible>
                <h1>{t("errorpage.fadeIn.h1")}</h1>
                <p>
                    {t("errorpage.fadeIn.paragraph")}
                </p>

                <Button
                    variant="secondary"
                    showIcon={false}
                    link="/"
                    align="center"
                >
                    Go back
                </Button>
            </FadeIn>
        </ContentSection>
    </main>
</Layout>
