---
import { PianistSlider4 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Pianist } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import { T } from "../../dist/_astro/index.UPYt4ex2";
import i18next, { t, changeLanguage } from "i18next"; // Import i18next for translations

changeLanguage("en");
---

<!-- todo: add meta description for SEO -->

<Layout
    title="Wei-Ting Pianist | Contact"
    description={t("contact.description")}
>
    <main class="page-content">
        <Pianist
            pianistType="ParallaxImage"
            client:load
            data={{
                image: PianistSlider4.src,
                content: {
                    title: "Contact",
                    paragraph: t("contact.page-content.paragraph"),
                },
            }}
        />

        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
