---
import { PianistSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Pianist } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Cybernetic | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Pianist
            pianistType="ParallaxImage"
            client:load
            data={{
                image: PianistSlider1.src,
                content: {
                    title: "Contact",
                    paragraph:
                        "Get stuck or need help? Contact us and we will help you out!",
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
