---
import { PianistSlider1, PianistSlider2 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Pianist } from "@modules/Hero";
---

<!-- the highest level of the page, the homepage. -->

<!-- todo: language switching: FR/TW/EN/DE. -->

<Layout
    title={Astro.url.pathname === '/' ? 'Homepage of Taiwanese Pianist Wei-Ting Hsieh' : 'Homepage of Taiwanese Pianist Wei-Ting Hsieh'}
    description="Homepage of Taiwanese Pianist Wei-Ting Hsieh"
>
    <main class="page-content">
        <Pianist
            client:load
            pianistType="fullPageSlider"
            data={[
                {
                    subtitle: "Pianist",
                    title: "Wei-Ting HSIEH",
                    background: PianistSlider1.src,
                    // paragraph:
                    //     "",
                    button: {
                        text: "Wei-Ting",
                        link: "/biography",
                    },
                },
                {
                    subtitle: "Pianist",
                    title: "Wei-Ting HSIEH",
                    background: PianistSlider2.src,
                    paragraph: "Enjoy the music",
                    button: {
                        text: "Listen",
                        link: "/music",
                    },
                },
            ]}
        />
    </main>
</Layout>
