---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Pianist } from "@modules/Hero";
---

<!-- the highest level of the page, the homepage. -->

<!-- todo: language switching: FR/TW/EN/DE. -->

<Layout
    title="Pianist | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Pianist
            client:load
            pianistType="fullPageSlider"
            data={[
                {
                    subtitle: "Pianist",
                    title: "Wei-Ting HSIEH",
                    background: HeroSlider1.src,
                    paragraph:
                        "About me",
                    button: {
                        text: "Wei-Ting",
                        link: "/aboutMe",
                    },
                },
                {
                    subtitle: "Pianist",
                    title: "Wei-Ting HSIEH",
                    background: HeroSlider3.src,
                    paragraph: "Enjoy the music",
                    button: {
                        text: "Listen",
                        link: "/music",
                    },
                },
            ]}
        />
    </main>
</Layout>
